header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f00;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 1rem;
  gap: 20px;

  .product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 0 5px 0 #ccc;
      transition: all 0.3s;
    }

    .image-container {
      position: relative;
      height: 200px;
      width: 100%;
    }

    img {
      object-fit: contain;
      border-radius: 5px;
    }

    .product-info {
      border-top: 1px solid #ccc;
      .truncate {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .product-price {
        font-size: 1.2rem;
        font-weight: bold;
        color: #f00;
      }
    }

    .product-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: #f00;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
